In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
pw = "Password"
host_name = "localhost"
user_name = "root"

In [3]:
def connect_server(host_name,user_name,passwd):
    connection = None
    try:
        connection = mysql.connector.connect(host = host_name,
                                            user = user_name,
                                            passwd = pw)
        print("Conected to server")
    except Error as err:
        print(f"Server not connected try again {err}")

    return connection

In [9]:
connection = connect_server(host_name,user_name,pw)

Conected to server

In [8]:
def Creat_batabase(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created....")

    except Erro as err:
        print(f"Failed to create database{err}")

In [10]:
Creat_batabase(connection,"CREATE DATABASE orders")

Database created....

In [28]:
def connect_database(hot_name,user_name,pw,database):
    connection  = None
    try :
        connection = mysql.connector.connect(host = hot_name,
                                            user = user_name,
                                            passwd = pw,
                                            database = database)
        print("Connected to datbase")

    except Error as err :
        print(f"Failed to connect to the database {err}")

    return connection

In [29]:
connection = connect_database(host_name,user_name,pw,"orders")

Connected to datbase

In [26]:
def execute_query(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("query was sucessfuly")
    except Error as err:
        print("failed {err}")

In [33]:
def read_query(connection,query):
    cursor = connection.cursor()
    result = None
    try :
        cursor.execute(query)
        result = cursor.fetchall()
        return result

    except Error as err :
        print(f"Failed to fetch data {err}")
        return None

In [31]:
create_table = """
CREATE TABLE IF NOT EXISTS customer (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    gender ENUM('Male','Female','Other'),
    age INT NOT NULL,
    location VARCHAR(150)
);
"""

execute_query(connection, create_table)

query was sucessfuly

In [42]:
execute_query(connection, "ALTER TABLE customer ADD COLUMN order_name VARCHAR(100) NOT NULL;")

query was sucessfuly

In [38]:
read_query(connection,"show databases")

[('information_schema',),
 ('mysql',),
 ('mysql_python',),
 ('orders',),
 ('performance_schema',),
 ('practice_db',),
 ('records',),
 ('sakila',),
 ('startsql',),
 ('sys',),
 ('world',)]

In [44]:
Insert_values = """
INSERT INTO customer (name, gender, age, location,order_name) VALUES
('Rajan', 'Male', 22, 'Mumbai', 'Chicken Burger'),
('Aisha', 'Female', 25, 'Delhi', 'Veg Pizza'),
('Karan', 'Male', 28, 'Bangalore', 'Pasta'),
('Meena', 'Female', 30, 'Kolkata', 'Paneer Tikka'),
('Rahul', 'Male', 24, 'Chennai', 'Sandwich'),
('Priya', 'Female', 27, 'Pune', 'Veg Biryani'),
('Arjun', 'Male', 26, 'Jaipur', 'Mutton Curry'),
('Nisha', 'Female', 29, 'Hyderabad', 'Fried Rice'),
('Vikram', 'Male', 31, 'Ahmedabad', 'Butter Chicken'),
('Sneha', 'Female', 23, 'Lucknow', 'Samosa'),
('Deepak', 'Male', 25, 'Indore', 'Burger'),
('Rita', 'Female', 28, 'Patna', 'Idli'),
('Amit', 'Male', 22, 'Surat', 'Chicke'),
('Anjali', 'Female', 26, 'Bhopal', 'Chowmein'),
('Suresh', 'Male', 29, 'Nagpur', 'Pizza'),
('Kavita', 'Female', 24, 'Vadodara', 'Noodles'),
('Ravi', 'Male', 32, 'Amritsar', 'Kebab'),
('Tina', 'Female', 21, 'Guwahati', 'Pav Bhaji'),
('Mohit', 'Male', 28, 'Ranchi', 'Fish Curry'),
('Divya', 'Female', 27, 'Noida', 'Pasta'),
('Aditya', 'Male', 23, 'Kanpur', 'Momos'),
('Neha', 'Female', 25, 'Chandigarh', 'Chole Bhature'),
('Harsh', 'Male', 30, 'Coimbatore', 'Paratha'),
('Pooja', 'Female', 26, 'Varanasi', 'Dal Makhani'),
('Rakesh', 'Male', 29, 'Thane', 'Biryani'),
('Komal', 'Female', 28, 'Gurgaon', 'Idli Sambar'),
('Sanjay', 'Male', 31, 'Mysuru', 'Fried Chicken'),
('Ruchi', 'Female', 24, 'Nashik', 'Veg Roll'),
('Vivek', 'Male', 27, 'Patiala', 'Egg Curry'),
('Sonal', 'Female', 25, 'Jodhpur', 'Manchurian');
"""
execute_query(connection,Insert_values)

query was sucessfuly

In [45]:
read_query(connection,"show tables")

[('customer',)]

In [46]:
read_query(connection,"SELECT * FROM customer;")

[(1, 'Rajan', 'Male', 22, 'Mumbai', 'Chicken Burger'),
 (2, 'Aisha', 'Female', 25, 'Delhi', 'Veg Pizza'),
 (3, 'Karan', 'Male', 28, 'Bangalore', 'Pasta'),
 (4, 'Meena', 'Female', 30, 'Kolkata', 'Paneer Tikka'),
 (5, 'Rahul', 'Male', 24, 'Chennai', 'Sandwich'),
 (6, 'Priya', 'Female', 27, 'Pune', 'Veg Biryani'),
 (7, 'Arjun', 'Male', 26, 'Jaipur', 'Mutton Curry'),
 (8, 'Nisha', 'Female', 29, 'Hyderabad', 'Fried Rice'),
 (9, 'Vikram', 'Male', 31, 'Ahmedabad', 'Butter Chicken'),
 (10, 'Sneha', 'Female', 23, 'Lucknow', 'Samosa'),
 (11, 'Deepak', 'Male', 25, 'Indore', 'Burger'),
 (12, 'Rita', 'Female', 28, 'Patna', 'Idli'),
 (13, 'Amit', 'Male', 22, 'Surat', 'Chicke'),
 (14, 'Anjali', 'Female', 26, 'Bhopal', 'Chowmein'),
 (15, 'Suresh', 'Male', 29, 'Nagpur', 'Pizza'),
 (16, 'Kavita', 'Female', 24, 'Vadodara', 'Noodles'),
 (17, 'Ravi', 'Male', 32, 'Amritsar', 'Kebab'),
 (18, 'Tina', 'Female', 21, 'Guwahati', 'Pav Bhaji'),
 (19, 'Mohit', 'Male', 28, 'Ranchi', 'Fish Curry'),
 (20, 'Divya', 'Female', 27, 'Noida', 'Pasta'),
 (21, 'Aditya', 'Male', 23, 'Kanpur', 'Momos'),
 (22, 'Neha', 'Female', 25, 'Chandigarh', 'Chole Bhature'),
 (23, 'Harsh', 'Male', 30, 'Coimbatore', 'Paratha'),
 (24, 'Pooja', 'Female', 26, 'Varanasi', 'Dal Makhani'),
 (25, 'Rakesh', 'Male', 29, 'Thane', 'Biryani'),
 (26, 'Komal', 'Female', 28, 'Gurgaon', 'Idli Sambar'),
 (27, 'Sanjay', 'Male', 31, 'Mysuru', 'Fried Chicken'),
 (28, 'Ruchi', 'Female', 24, 'Nashik', 'Veg Roll'),
 (29, 'Vivek', 'Male', 27, 'Patiala', 'Egg Curry'),
 (30, 'Sonal', 'Female', 25, 'Jodhpur', 'Manchurian')]